.tripInfo_content_section {
  width: 1200px;
  padding-top: 60px;
  margin: 0 auto;
  /* margin-bottom: 150px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
