

.bus_section {
  width: 1200px;
  padding-top: 60px;
  margin: 0 auto;
  margin-bottom: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.bus_block {
  width: 1200px;
  height: 176px;
  margin: 0 auto;
  background: #c8eff8;
  opacity: 0.25;
  border-radius: 0px 0px 5px 5px;
  position: relative;
}
.block_tab_group {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.block_tab_selected {
  width: 105px;
  height: 46px;
  background: #c8eff8;
  border-radius: 5px 5px 0px 0px;
  padding: 14px 36px 14px 36px;
  color: #74d1e7;
  font-size: medium;
  cursor: pointer;
}
.block_tab_default {
  width: 105px;
  height: 46px;
  border: 1.5px solid #c8eff8;
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  padding: 14px 35px 14px 35px;
  color: #74d1e7;
  font-size: medium;
  cursor: pointer;
}
.btn_countires_group {
  position: absolute;
  width: 100%;
  padding-left: 36px;
  bottom: 35%;
}
.btn_country_selected {
  font-weight: bold;
  font-size: 16px;
  color: #74d1e7;
  padding-right: 40px;
  cursor: pointer;
}
.btn_country_default {
  font-weight: 400;
  font-size: 16px;
  color: #666;
  padding-right: 40px;
  cursor: pointer;
}
.btn_busroute_group {
  width: 100%;
  margin-left: 36px;
  bottom: 10%;
  display: flex;
}
.btn_busroute_selected {
  width: auto;
  padding: 8px 12px 8px 12px;
  background: #74d1e7;
  border-radius: 5px;
  margin-right: 20px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.btn_busroute_default {
  border: 1px solid #74d1e7;
  border-radius: 5px;
  padding: 8px 12px 8px 12px;
  margin-right: 20px;
  color: #74d1e7;
  font-weight: 500;
  cursor: pointer;
}
.bus_route {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  background-color: #cccccc;
  position: absolute;
  margin-top: 280px;
}
