.content_title {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  color: #666666;
  margin-bottom: 25px;
  padding-top: 30px;
}
.content_text {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(228, 230, 232, 1);
}
