.tripSearchField1 {
  position: relative;
  .searchIcon {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}
.searchFieldInput1 {
  width: 331px;
  height: 42px;
  background: #f2f4f6;
  border-radius: 50px;
  border: none;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}
