.trip_search_field1 {
  position: relative;
  img {
    position: absolute;
    right: 20px;
    top: 15px;
  }
}
.search_field_input1 {
  width: 331px;
  height: 42px;
  background: #f2f4f6;
  border-radius: 50px;
  border: none;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}
