* {
  box-sizing: border-box;
  font-family: "Noto Sans TC";
  font-size: 16px;
  color: #666;
  font-weight: 400;
  scroll-padding-top: 88px;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* for TripInfoPage & FoodInfoPage*/
.content_section {
  width: 1200px;
  padding-top: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
/* for TripInfoPage & FoodInfoPage*/


@media (max-width:1439px) and (min-width:1200px){
  .wrapper{
    padding-left: 32px;
  padding-right: 32px;
  }
  .titleGroup {
  width: 100%;
  }
}
@media (max-width:1199px) and (min-width:768px){
  .wrapper{
    padding-left: 32px;
  padding-right: 32px;
  }
  .titleGroup {
    width: 100%;
    }
}
@media (max-width:767px) and (min-width:375px){
  .wrapper{
    padding-left: 16px;
  padding-right: 16px;
  }
  .titleGroup {
    width: 100%;
    }
}