$color-primary: (
    default: #74D1E7,
    dark: #26B7D9,
    tint1: #C8EFF8,
    tint2: #F1FBFD
);

$color-secondary-pink: (
    default: #FF8B7C,
    dark: #FF624E,
    tint: #FFD3CE
);

$color-secondary-yellow: (
    default: #FFD77C,
    dark: #FFBB20,
    tint: #FFF0CE
);

$color-greyscale: (
    800: #666666,
    700: #878787,
    600: #A8A8A8,
    500: #C9C9C9,
    400: #DADADA,
    300: #EBEBEB,
    200: #FBFBFB,
    0: #FFFFFF
);

$color-text: (
    100: #666666,
    87: rgba(102, 102, 102, 0.87),
    60: rgba(102, 102, 102, 0.6),
    37: rgba(102, 102, 102, 0.38),
    0: #ffffff
);