.breadcrumb {
  width: 1200px;
  padding: 10px;
  margin: 0 auto;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  a{
    text-decoration: none;
  }

}

@media (max-width:1439px) and (min-width:1200px){
  .breadcrumb {
    width: 100%;
  }
}
@media (max-width:1199px) and (min-width:768px){
  .breadcrumb {
    width: 100%;
  }
}
@media (max-width:767px) and (min-width:375px){
  .breadcrumb {
    width: 100%;
  }
}