* {
  box-sizing: border-box;
  font-family: "Noto Sans TC";
  font-size: 16px;
  color: #666;
  font-weight: 400;
  scroll-padding-top: 88px;
}

.header {
  width: 100%;
  height: 88px;
  color: #ffffff;
  /* border-bottom: #E4E6E8 1px solid; */
}

.header_container {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.header_container > img {
  width: 231px;
  height: 32px;
}

/* ------------------------------ nav_menu ------------------------------ */
.menu_landscape {
  margin-right: 40px;
  text-decoration: none;
  position: relative;
}
.wave_blue1 {
  position: absolute;
  top: 30px;
  right: 5px;
  display: none;
}
.menu_landscape:hover {
  color: #74d1e7;
}
.menu_landscape:after {
  color: #74d1e7;
}

.menu_fair {
  margin-right: 40px;
  text-decoration: none;
  position: relative;
}
.wave_yellow {
  position: absolute;
  top: 30px;
  right: 5px;
  display: none;
}
.menu_fair:hover {
  color: #ffd77c;
}

.menu_food {
  margin-right: 40px;
  text-decoration: none;
  position: relative;
}
.menu_food:hover {
  color: #ff8b7c;
}
.wave_pink {
  position: absolute;
  top: 30px;
  right: 5px;
  display: none;
}

.menu_traffic {
  margin-right: 40px;
  text-decoration: none;
  position: relative;
}
.menu_traffic:hover {
  color: #74d1e7;
}
.wave_blue2 {
  position: absolute;
  top: 30px;
  right: 5px;
  display: none;
}

.btn_callforaction {
  background-color: #74d1e7;
  width: 134px;
  height: 42px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
/* ------------------------------ nav_menu ------------------------------ */

/* ------------------------------ hero_section ------------------------------ */
.hero_section {
  width: 1200px;
  height: 660px;
  border-radius: 20px;
  border: none;
  margin: 0 auto;
}

.hero_section img {
  width: 100%;
  height: 100%;
}

.hero_title {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  padding-top: 195px;
}

.hero_subtitle {
  font-style: normal;
  font-weight: medium;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  padding-top: 30px;
  padding-bottom: 20px;
}

.search_section {
  width: 790px;
  height: 144px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.search_box {
  width: 715px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}

.search_box_dropdown {
  width: 148px;
  border-right: 1px solid #e5e5e5;
  color: #a0a5aa;
  position: relative;
  cursor: pointer;
}

.default_option {
  text-transform: uppercase;
  padding-left: 12px;
  font-size: 16px;
  color: #737b7d;
  margin: 0 auto;
}

.search_box_dropdown ul {
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 150px;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.search_box_dropdown ul.active {
  display: block;
}

.search_box_dropdown ul li {
  padding-bottom: 20px;
}
.search_box_dropdown ul li:last-child {
  padding-bottom: 0;
}

.search_box_dropdown ul li:hover {
  color: #6f768d;
}

.search_box_dropdown:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 30px;
  border: 6px solid;
  border-color: #74d1e7 transparent transparent transparent;
}

.search_field {
  width: 350px;
  height: 100%;
  position: relative;
}

.search_field_input {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #737b7d;
}
.search_field_input::placeholder {
  color: #a0a5aa;
  font-weight: 400;
}

.fas {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #5078ef;
  cursor: pointer;
}
/* ------------------------------ hero_section ------------------------------ */

/* ------------------------------ landscape_section ------------------------------ */
.landscape_section {
  width: 1200px;
  padding-top: 60px;
  margin: 0 auto;
  /* margin-bottom: 150px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.section_title {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  color: #666666;
  margin-bottom: 25px;
}

.landscape_block {
  width: 220px;
  height: 236px;
  /* padding-bottom: 91.11%; */
  background: #ffffff;
  border: #e8e8e8 solid 1px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}

.landscape_block:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.image_block {
  width: 220px;
}
.image_block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border-radius: 5px 5px 0 0;
}

.content_block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  font-size: 16px;
  background-color: #ffffff;
  color: #666;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 12px;
  /* border-top:#e8e8e8 solid 1px; */
  border-top: #e8e8e8 solid 1px;
  border-radius: 0 0 5px 5px;
  /* line-height: 46px; */
}
.tag_bus {
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  display: flex;
  align-items: center;
}
.tag_bus img {
  margin-right: 8px;
}
.tag_location {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  display: flex;
  align-items: center;
}
.tag_location img {
  margin-right: 10px;
}
.weather {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.btn_next {
  position: absolute;
  top: 50%;
  right: -20px;
  cursor: pointer;
}

/* ------------------------------ landscape_section ------------------------------ */

/* ------------------------------ bus_section ------------------------------ */
.bus_section {
  width: 1200px;
  padding-top: 60px;
  margin: 0 auto;
  margin-bottom: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.bus_block {
  width: 1200px;
  height: 176px;
  margin: 0 auto;
  background: #c8eff8;
  opacity: 0.25;
  border-radius: 0px 0px 5px 5px;
  position: relative;
}
.block_tab_group {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.block_tab_selected {
  width: 105px;
  height: 46px;
  background: #c8eff8;
  border-radius: 5px 5px 0px 0px;
  padding: 14px 36px 14px 36px;
  color: #74d1e7;
  font-size: medium;
  cursor: pointer;
}
.block_tab_default {
  width: 105px;
  height: 46px;
  border: 1.5px solid #c8eff8;
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  padding: 14px 35px 14px 35px;
  color: #74d1e7;
  font-size: medium;
  cursor: pointer;
}
.btn_countires_group {
  position: absolute;
  width: 100%;
  padding-left: 36px;
  bottom: 35%;
}
.btn_country_selected {
  font-weight: bold;
  font-size: 16px;
  color: #74d1e7;
  padding-right: 40px;
  cursor: pointer;
}
.btn_country_default {
  font-weight: 400;
  font-size: 16px;
  color: #666;
  padding-right: 40px;
  cursor: pointer;
}
.btn_busroute_group {
  position: absolute;
  width: 100%;
  margin-left: 36px;
  bottom: 10%;
  display: flex;
}
.btn_busroute_selected {
  width: auto;
  padding: 8px 12px 8px 12px;
  background: #74d1e7;
  border-radius: 5px;
  margin-right: 20px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.btn_busroute_default {
  border: 1px solid #74d1e7;
  border-radius: 5px;
  padding: 8px 12px 8px 12px;
  margin-right: 20px;
  color: #74d1e7;
  font-weight: 500;
  cursor: pointer;
}
.bus_route {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  background-color: #cccccc;
  margin-top: 30px;
}

/* ------------------------------ bus_section ------------------------------ */

footer {
  background: #373f41;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin-top: 60px;
}
