.topic_tab {
  width: 1200px;
  /* height: 72px; */
  margin: 0 auto;
  margin-top: 40px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: flex-start;

  .selected_tab {
    height: 44px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    img {
      width: 20px;
      height: auto;
      margin-right: 5px;
    }
    .tab_bar {
      width: 100%;
      height: 5px;
      background-color: #ffd77c;
      position: absolute;
      bottom: -2.5px;
    }
  }
  .default_tab {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
  }
}

.main_section {
  width: 1200px;
  height: 345px;
  border-radius: 20px;
  //   background-image: url(../../asset/images/campingSection.png);
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 115px;
  padding-bottom: 115px;
  .section_topic {
    width: 100%;
    font-size: 44px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .section_subtitle {
    width: auto;
    padding: 8px 35px 8px 35px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background: rgba(255, 215, 124, 0.8);
    border-radius: 5px;
  }
}
