.breadcrumb {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  padding: 30px 0px;
  span {
    color: #74d1e7;
  }
}

.tripInfo_menu {
  display: flex;

  &_section {
    width: 1200px;
    height: 632px;
    border-radius: 20px;
    margin: 0 auto;
  }

  &_text {
    width: 626px;
    margin: 15px;
  }
}

.menu_title {
  font-family: Noto Sans TC;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}
.menu_text {
  display: flex;
  .list {
    margin-top: 20px;
    justify-content: space-between;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
  }
}

.list {
  li {
    padding-right: 50px;
  }
  img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    vertical-align: middle;
  }
}

.describe_text {
  margin-top: 40px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}

.tripInfo_menu_img {
  border-radius: 20px;
  margin: 15px;
  width: 536px;
  height: fit-content;
  overflow: hidden;
}

.section-view {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  img {
    height: 115px;
    width: 170px;
  }
}

.full-view {
  position: relative;
  img {
    height: 377px;
  }
}

.selected-img {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.3;
}

.btn_next_trip {
  position: absolute;
  padding: 15px;
  top: 40%;
  width: 530px;
  display: flex;
  justify-content: space-between;

  img {
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:active {
      width: 50px;
      height: 50px;
    }
  }
}
