/* --------------------reset css-------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* --------------------reset css-------------------- */
*{
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    color: #666;
    font-weight: 400;
    scroll-padding-top: 88px;
}

.header{
    width: 100%;
    height: 88px;
    color: #ffffff;
    /* border-bottom: #E4E6E8 1px solid; */
}

.header_container{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.header_container > img{
    width: 231px;
    height: 32px;
}

/* ------------------------------ nav_menu ------------------------------ */
.menu_landscape {
    margin-right: 40px;
    text-decoration: none;
    position: relative;
}
.wave_blue1{
  position: absolute;
  top: 30px;
  right: 5px;
  display: none;
}
.menu_landscape:hover{
color: #74D1E7;
}
.menu_landscape:after{
  color: #74D1E7;
}


.menu_fair {
  margin-right: 40px;
  text-decoration: none;
  position: relative;
}
.wave_yellow{
  position: absolute;
  top: 30px;
  right: 5px;
  display: none;
}
.menu_fair:hover{
  color:#FFD77C;
}


.menu_food {
  margin-right: 40px;
  text-decoration: none;
  position: relative;
}
.menu_food:hover{
  color: #FF8B7C;
}
.wave_pink{
  position: absolute;
  top: 30px;
  right: 5px;
  display: none;
}

.menu_traffic {
  margin-right: 40px;
  text-decoration: none;
  position: relative;
}
.menu_traffic:hover{
  color: #74D1E7;
}
.wave_blue2{
  position: absolute;
  top: 30px;
  right: 5px;
  display: none;
}



.btn_callforaction{
    background-color: #74D1E7;
    width: 134px;
    height: 42px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
/* ------------------------------ nav_menu ------------------------------ */

/* ------------------------------ searching_result ------------------------------ */
.title_group{
 width: 1200px;
 margin: 0 auto;
 margin-top: 60px;
}
.section_title_blue{
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  color: #74D1E7;
  margin-bottom: 25px;
}
.section_title{
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  color: #666;
  margin-bottom: 25px;
}

/* ------------------------------ searching_result ------------------------------ */


/* ------------------------------ landscape_section ------------------------------ */
.section_title{
  width: 1200px;
  font-weight: 700;
  font-size: 24px;
  color: #666666;
  margin: 0 auto;
  margin-top: 40px;
}

.landscape_section{
  width: 1200px;
  margin: 0 auto;
  /* margin-bottom: 150px; */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position:relative;
}

.landscape_section a{
  margin-right: 25px;
  margin-top: 40px;
}

.landscape_block{
  width: 220px;
  height: 236px;
  background: #ffffff;
  border: #e8e8e8 solid 1px;
  border-radius: 5px;
  position: relative;
}
.landscape_section a:nth-of-type(5n){
  margin-right: 0;
}


.landscape_block:hover{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.image_block{
  width: 220px;
}
.image_block img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border-radius: 5px 5px 0 0;
}

.content_block{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  font-size: 16px;
  background-color: #ffffff;
  color: #666;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 12px;
  /* border-top:#e8e8e8 solid 1px; */
  border-top:#e8e8e8 solid 1px;
  border-radius: 0 0 5px 5px;
  /* line-height: 46px; */
}
.tag_bus{
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  display: flex;
  align-items: center;
}
.tag_bus img{
  margin-right: 8px;
}
.tag_location{
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  display: flex;
  align-items: center;
}
.tag_location img{
  margin-right: 10px;
}
.weather{
  position: absolute;
  bottom: 12px;
  right: 12px;
}

/* ------------------------------ landscape_section ------------------------------ */


/* ------------------------------ footer ------------------------------ */
footer{
  background: #373F41;
 padding-top: 30px;
 padding-bottom: 30px;
 text-align: center;
 margin-top: 60px;
}
/* ------------------------------ footer ------------------------------ */