.title_group {
  width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
}
.section_title_blue {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  color: #74d1e7;
  margin-bottom: 25px;
}
.section_title {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  color: #666;
  margin-bottom: 25px;
}
